@use '../variables' as *;
@use '../mixins' as *;
@use '../components/listgenre' as *;
@use '../components/listtop' as *;
.header__bar
{
    height:50px ;
}
    


.navbar
{
    @include flex (center, space-between );
    height: 50px;
    
    &__logo
    {
        @include flex (center,unset);
    }
    &__search
    {   position: relative;
        color: $main-color;
        font-size: 1.5rem;
        @include flex(center,space-between);
        &__input
        {   outline: none;
            width: 425px;
            height: 34px;
            padding: 12px;
            font-size: 1.1rem;
            color: #999999;
        }
        &__icon
        {   width: 34px;
            height: 34px;
            @include flex(center,center);
            position: absolute;
            
            right : 0;
        
            &:hover{
                background-color: #333; 
            }
        }
    }
    &__controls
    {
        @include flex (center ,center);
        color: white;
        font-size: 1.5rem;
        &__message
        {
            margin-left: 10px;
        }
    }
    &__account
    {   &__list{
        font-size: 1.1rem;
        @include flex(center, center);
        color: white;
    }
    }
}
.header__main
{
    height:42px ;
    background-color : #e4e4e4;
}
.container-header
{
    height: 42px;
}
.main-menu
{
    &__list{
        @include flex(center, flex-start);
        height : 42px;
        font-size:14px;
        font-weight: 400;
        color: #333;
        
        .icon-home {
        font-size: 1.7rem;
        
    }
        
    &__item
    {  text-align: center;
        line-height: 42px;
        display: block;
        border-left : 1px solid #dddddd;
        
        height: 42px;
        width: auto;
        padding: 0 10px;
        
        &:hover{
            background-color: aliceblue;
            color: #ae4ad9;
        }
        &:nth-child(1)
        {
            border-left: none   ;
            font-size: large    ;
        }
        &:last-child
        {
            border-right: 1 solid #dddddd   ;
        }
        &:nth-child(5)
        {
            max-width: 98px   ;
            position: relative;
        }
        &:nth-child(5):hover .genre-list__list{
            display: block;
            z-index: 99;
        }
        &:nth-child(6)
        {
            max-width: 117px   ;
            position: relative;
            
        }
        &:nth-child(6):hover .list-top__list{
            display: block;
            z-index: 100;
        }
        
        
        
    }
    }
&__toolbar
{   border: 1px solid  #4080ff;
    @include flex(center,flex-start);
    &__icon
    {
        height:38px;
        width: 35px;
        @include flex(center,center);
        background-color : #4080ff;
    &-i
    {   line-height: 15px;
        text-align: center;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background-color: white;
    }
    }
    &__desc
    {
        padding: 0 10px;
    }

}
  

        
}